doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Playball|Poiret+One|Shrikhand&display=swap", rel="stylesheet")
  body
    block content
